<div class="container">
  <h2>Life Game works!</h2>
  <app-gameboard [cells]="cells"></app-gameboard>
  <br>
  <div class="alert alert-warning">
    <form (submit)="setBoard(rows.value, cols.value)">
      <label>Задайте размер игрового поля</label><br>
      <input type="number" id="table_rows" placeholder="10" value="{{tableRows}}" min=3 max=100 #rows> Строки (3-100)<br>
      <input type="number" id="table_cols" placeholder="10" value="{{tableCols}}" min=3 max=100 #cols> Столбцы (3-100)<br>
      <button type="submit">Перестроить поле</button>
    </form>
  </div>
</div>
